@import "../../assets/core/variables/fonts.css";
@import "../../assets/core/variables/colors.css";
@import "../../assets/core/variables/margin.css";

.mm-paragraph {
  padding: 0;
  margin: var(--mm-margin--small);
  font-family: var(--mm-font-family--secondary);
  font-size: var(--mm-font-size--body);
  font-weight: var(--mm-font-weight--regular);
  line-height: 1.5;
  color: var(--mm-color--body-text);
}
