@import "../../assets/core/variables/colors.css";
@import "../../assets/core/variables/fonts.css";
@import "../../assets/core/variables/padding.css";
@import "../../assets/core/variables/margin.css";

.mm-field {
  font-family: var(--mm-font-family--primary);
  font-size: var(--mm-font-size--body);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--mm-margin--medium);
  padding: 0 var(--mm-padding--small);

  .mm-field__error-message {
    font-size: var(--mm-color--body-text);
    color: var(--mm-color--error);
    position: absolute;
  }

  .mm-field__error-message-container {
    position: relative;
    padding-top: var(--mm-padding--small);
    width: 100%;
  }
}
